* { 
margin: 0;
padding:10;
box-sizing: border-box;
background: #fffefe
}

header{
position: static;
width: 100%;
height: 120px;
background: #FFFFFF;
} 

.logo{
position: absolute;
width: 120px;
height: 120px;
left: 30px;
top: -10px;
}

h1{
margin: auto;
width: 845px;
font-family: 'Shadows Into Light', cursive;
font-weight: normal;
font-size: 72px;
color: #000000;
background-color: white;
}

main section h2{
position: absolute;
height: 135px;
top: 150px;
margin-left: 90px;
margin-right: 90px;
display: flex; 
font-family: Source Sans Pro;
font-style: italic;
font-weight: 300;
font-size: 26px;
line-height: 30px; /*Interlineado*/
text-align: justify;
color: #000000;
}

article h3{
position: absolute;
top: 270px;
left: 81px;
font-family: Source Sans Pro;
font-style: normal;
font-weight: bold;
font-size: 25px;
line-height: 31px;
color: #000000;
}
/* =====ESTILOS DEL FORMULARIO====*/

form{
position: absolute;
padding: 65px;
width: 600px;
height: 300px;
left: 49px;
top: 403px;
background: #EEE6E6;
}
input{
height: 40px;
margin-bottom: 8px;
font-weight: bold;
background: #EEE6E6;
}

.form-container{
width: 600px;
height: 320px;
left: 81px;
top: 300px;
padding: 30px;
background: #EEE6E6;
}    

.form-container label, 
.form-container input, 
.form-container .select, .label{
font-family: Source Sans Pro;
font-style: normal;
font-weight: 900;
font-size: 18px;
background: #EEE6E6;
}

.form-container #cvv{
min-width: 100px;
width: 80px;
float: left;
background: #EEE6E6;
}
.form-container .select{
width: 100%;
margin-right: 15px;
}

.form-container .flexbox {
display: flex;
justify-content: space-between;
background: #EEE6E6;
}
.label{
position: relative;
}
.expiration{
width: 80px;
height: 40px;
font-family: Source Sans Pro;
font-style: bold;
font-weight: 900;
font-size: 18px;
background: #EEE6E6;
border: solid 1px #999;
}
.campo{
width: 300px;
text-transform: uppercase;
border: solid 1px #999;
}

/* ====ESTILOS AL BOTON DE LIMPIAR DATOS==== */
button{
background: none;
color:inherit;
border:none; 
padding:0;
margin-top: 20%;
font-family: Source Sans Pro;
font-weight: bolder;
font-size: 18px;

/*border is optional*/
border-bottom:1px solid #444; 
cursor: pointer;
}

/* ====ESTILOS A LA IMAGEN (TARJETA)==== */ 

.tarjeta{
position: absolute;
width: 528px;
height: 300px;
left: 700px;
top: 305px;
float: right;
font-size: 22px;
font-style: normal;
font-weight: lighter;
text-transform: uppercase;
background-image: url(./img/tarjeta.png);
background-size: 100% 100%;
}

.tarjetaValida{
position: relative;
margin-top: 15%;
min-width: 20px;
align-content: center;
text-align: center;
text-transform: initial;
font-size: 18px;
font-style: italic;
font-weight: bold;
line-height: 26px;
display: inline-block;
align-items: center;
color: #000000;            
}
.tarjetaInvalida{
position: relative;
margin-top: 15%;
min-width: 20px;
align-content: center;
text-align: center;
text-transform: initial;
font-size: 18px;
font-style: italic;
font-weight: bold;
line-height: 26px;
display: inline-block;
align-items: center;
color: #000000;            
}

.tarj-num{
position: absolute;
width: 450px;
height: 40px;
left: 50px;
top: 175px;
}

.tarj-nam{
position: absolute;
width: 300px;
height: 40px;
left: 50px;
top: 240px;
}

.tarj-date{
position: absolute;
width: 100px;
height: 40px;
left: 400px;
top: 240px;
background: #FFFBFB;
font-size: 20px;

}


/* ====ESTILOS DEL BOTON VALIDAR==== */
#btnClick{
position: absolute;
width: 300px;
height: 50px;
left: 496px;
top: 699px;
background: #70495B;
border-radius: 30px;
font-family: Source Sans Pro;
font-style: normal;
font-weight: normal;
font-size: 35px;
line-height: 40px;
color: #FFFDFD;
}

/*====ESTILOS DEL FOOTER====*/

.seguridad {
position: absolute;
width: 1000px;
height: 53px;
top: 767px;
font-family: Source Sans Pro;
font-style: normal;
font-weight: bold;
font-size: 18px;
text-align: center;
margin-left: 120px;
color: rgba(17, 16, 16, 0.5);
}
.footer{
position: absolute;
width: 693px;
left: 373px;
top: 823px;
font-family: Source Sans Pro;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 30px;
color: #777070;
}